<?xml version="1.0" ?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>

	<module name="global">
		<param name="randomSeed" value="24" />
	</module>

	<module name="network">
		<param name="inputNetworkFile" value="network.xml" />
	</module>

	<module name="plans">
		<param name="inputPlansFile" value="plans100.xml" />
	</module>

	<module name="controller">
		<param name="outputDirectory" value="./scenarios/equil/outputs/test/" />
		<param name="firstIteration" value="0" />
		<param name="lastIteration" value="10" />
	</module>

	<module name="qsim">
		<!-- "start/endTime" of MobSim (00:00:00 == take earliest activity time/ run as long as active vehicles exist) -->
		<param name="startTime" value="00:00:00" />
		<param name="endTime" value="00:00:00" />
	
		<param name = "snapshotperiod"	value = "00:00:00"/> <!-- 00:00:00 means NO snapshot writing -->
	</module>

	<module name="scoring">
		<param name="learningRate" value="1.0" />
		<param name="brainExpBeta" value="2.0" />

		<param name="lateArrival" value="-18" />
		<param name="earlyDeparture" value="-0" />
		<param name="performing" value="+6" />
		<param name="waiting" value="-0" />
		<parameterset type="activityParams" >
			<param name="activityType"            value="h" /> <!-- home -->
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="12:00:00" />
		</parameterset>
		<parameterset type="activityParams" >
			<param name="activityType"            value="w" /> <!-- work -->
			<param name="priority"        value="1" />
			<param name="typicalDuration" value="08:00:00" />
			<param name="openingTime"     value="07:00:00" />
			<param name="latestStartTime" value="09:00:00" />
			<param name="earliestEndTime" value="" />
			<param name="closingTime"     value="18:00:00" />
		</parameterset>
	</module>
	
	<module name="replanning">
		<param name="maxAgentPlanMemorySize" value="5" /> <!-- 0 means unlimited -->

		<param name="ModuleProbability_1" value="0.9" />
		<param name="Module_1" value="BestScore" />

		<param name="ModuleProbability_2" value="0.1" />
		<param name="Module_2" value="ReRoute" />
	</module>
	
	<module name="counts">
    <!--  Transport modes that will be respected for the counts comparison. 'car' is default, which includes also bussed from the pt simulation module. Use this parameter in combination with 'filterModes' = true!  -->
    <param name="analyzedModes" value="car"/>
    <!--  Specifies over how many iterations the link volumes should be averaged that are used for the counts comparison. Use 1 or 0 to only use the link volumes of a single iteration. This values cannot be larger than the value specified for writeCountsInterval  -->
    <param name="averageCountsOverIterations" value="1"/>
    <!--  input file name to counts package  -->
    <param name="inputCountsFile" value="./counts100.xml"/>
    <!--  possible values: `html', `txt', `all'  -->
    <param name="outputformat" value="all"/>
    <!--  Specifies how often the counts comparison should be calculated and written.  -->
    <param name="writeCountsInterval" value="5"/>
  </module>

</config>
